anyio
async-generator
attrs
certifi
cffi
chardet
charset-normalizer
cryptography
Cython
docutils
et-xmlfile
googletrans
GPUtil
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
imagesize
imutils
keyboard
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
MouseInfo
numpy
opencv-python
openpyxl
outcome
packaging
pandas
Pillow
prettytable
psutil
py-cpuinfo
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
PySocks
pyteams
pytesseract
python-dateutil
python-dotenv
pytweening
pytz
pypiwin32
requests
rfc3986
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
urllib3
watchgod
wcwidth
webdriver-manager
wsproto
